:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --veryDarkBlue-mainBg: hsl(217, 54%, 11%);
  --veryDarkBlue-cardBg: hsl(216, 50%, 16%);
  --veryDarkBlue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  min-height: 100vh;
  padding: 0;
  background: var(--veryDarkBlue-mainBg);
  display: grid;
  place-items: center;
  font-family: "Outfit", sans-serif;
}

main {
  min-height: 100vh;
  width: 375px;
  margin: 0;
  padding: 1.5rem;
  display: grid;
  place-items: center;
}

/*******************
***Flex container***
********************/

.container {
  max-width: 100%;
  padding: 1.5rem;
  background: var(--veryDarkBlue-cardBg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

/****************
***Img section***
*****************/

#avatarBack {
  background-color: var(--softBlue);
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

#avatar {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
  display: block;
}

#avatar:hover {
  opacity: 0.3;
}

/*****************
***Text section***
******************/

.sectionText {
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
}

.sectionText > * {
  margin: 0.75rem 0;
}

.sectionText > h1 {
  font-size: 1.4rem;
  color: var(--white);
  transition: 0.3s;
}

.sectionText > h1:hover {
  color: var(--cyan);
  cursor: pointer;
}

.promote {
  font-size: 1rem;
  color: var(--softBlue);
}

/****************
***Eth section***
*****************/

p.eth {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--cyan);
}

p.eth::before {
  content: url("./images/icon-ethereum.svg");
  position: relative;
  top: 3px;
  right: 8px;
}

.eth span {
  font-size: 1rem;
  color: var(--softBlue);
  float: right;
}

.eth span::before {
  content: url("./images/icon-clock.svg");
  position: relative;
  top: 3px;
  right: 5px;
}

/*************
***Creation***
**************/

p.creation {
  padding-left: 0.5rem;
  font-size: 1rem;
  color: var(--softBlue);
  border-top: 1px solid var(--softBlue);
}

.creation:before {
  background-image: url("./images/image-avatar.png");
  background-size: 35px 35px;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
  content: "";
  position: relative;
  top: 15px;
  right: 8px;
}

.creation span {
  color: var(--white);
  transition: 0.3s;
}

.creation span:hover {
  color: var(--cyan);
  cursor: pointer;
}
