:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  
  --VeryDarkBlue-mainBg: hsl(217, 54%, 11%);
  --VeryDarkBlue-cardBg: hsl(216, 50%, 16%);
  --VeryDarkBlue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  min-height: 100vh;
  background: var(--light-grey);
  display: grid;
  place-items: center;
  font-family: 'Outfit', sans-serif;
  padding: 100px 0;
  position: relative;
}
